*{
    margin: 0%;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body, html {
    height: 100%;
  }
  
  .bg-image {
    background-image: url("../Screenshot\ \(1299\)-min.png");
    filter: blur(2px);
    -webkit-filter: blur(2px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0, 0.9);
    
  }
  

  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 80%;
    left: 20%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 50%;
    padding: 100px;
    text-align: center;


  }

  .bg-text h1{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
  }

body{
    background-image: url(../image2\ replace.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}
.nav{
    width: 100%;
    background-color: rgba(0,0, 0,.7);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    position: relative;
}
.containermantap2{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height:415px;
    width:710px;
    border:5px solid  #c2a080;
    box-shadow: 3px 3px 10px #000;
    position: relative;
    margin: auto;
    
}
.containermantap1{
    background-color: rgba(0,0, 0,.5);
    margin-top: -50px;
    padding: 10px;
    overflow: hidden;
}

.logo{
    margin-top: 10px;
    margin-left: 70px;
}
.footer{
    left: 0;
    bottom: 0;
    display: flex;
    width: 100%;
    background-color: rgba(0,0, 0,.6);
    height: 50px;
    color: #c2a080;
    position: relative;
    text-align: justify;  
  text-align-last: right;
}
.dropdown-container:hover{
    position:relative;
}
  
.textmantappp{
    margin-left: 10px;
    margin-top: 15px;
    margin-right: 10%;
}
.imagesosmed{
    margin-top: 0.5%;
    margin-right:1%
}
.dropdown a{
    text-decoration: none;
    color: #c2a080 !important;
}
.dropdown{
    text-decoration: none;
    visibility: hidden;
    opacity: 0;
    box-sizing: border-box;
    position: absolute;
    background-color: rgba(0,0, 0,.4);
    color: #c2a080 !important;
    /* width: 200%; */
    z-index: 999;
}

.dropdown-container:hover .dropdown{
    visibility: visible;
    opacity: 100;
    transition: 0.5s;
}

.dropdown-item
{
    box-sizing: border-box;
    line-height: 60px;
    padding: 0px 50px;
}

.dropdown-item:hover
{
    cursor: pointer;
    background-color: rgba(0,0, 0,.67);
}
.dropdownheader{
    cursor: pointer;
    background-color: rgba(0,0, 0,.1);
    padding: 32px;
}
.next {
    right: 0;
}
.previous{
    left: 0;
}
.previous{
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
    margin-left: -100px;
}
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
    margin-right: -100px;
}
.captionText {
    color: #000000;
    font-size: 14px;
    position: absolute;
    padding: 12px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
} 
.footerdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
   
.active,
.footerdot:hover {
    background-color: black;
}

.header-name{
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
	text-align: center;
	font-size:30px;
	bottom: 15px;
    color: white;
}
.container{
	position: relative;
	right: -30px;
}
#slider{
    width:900px;
    height:400px;
    margin: 10%;
    margin-left:15%;
    overflow:hidden;
}
.slides{
    display:block;
    width:6000px;
    height:400px;
    margin-left:0;
    padding:0;
}
.slide{
    float:left;
    list-style-type:none;
    width:900px;
    height:400px;
}
@media(max-width:800px){
	.bg-text{
		font-size: 10px;
    width: 70%;
    overflow: hidden;
    padding: -20%;
	}
  .bg-text h1{
    font-size: 20px;
  }
  #slider{
    width:300px;
    height:400px;
    margin: 10%;
    margin-left:15%;
    overflow:hidden;
}
.animek{
    width:300px;
    
}
.slide{
    float:left;
    list-style-type:none;
    width:900px;
    height:400px;


}
.bg-image{
    width:100%;
}
}